.example {
  border: 2px solid #66ccff;
  padding: 0 2rem;
}

.card {
  border: 2px solid #39c5bb;
  padding: 0 2rem;
}

.card-title {
  border: 2px solid yellow;
  padding: 0 2rem;
}
.card-content {
  border: 2px solid lime;
  padding: 0 2rem;
}

.fade-in-animation {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
